<ion-item>
  <ion-label>Crear nuevo alimento</ion-label>
  <ion-toggle [(ngModel)]="crearNuevo"></ion-toggle>
</ion-item>

<ng-container *ngIf="!crearNuevo">
  <ion-item>
    <ion-label>Alimento</ion-label>
    <ion-select [(ngModel)]="alimentoSeleccionado">
      <ion-select-option *ngFor="let alimento of alimentos" [value]="alimento">
        {{ alimento.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ng-container>

<ng-container *ngIf="crearNuevo">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nuevoAlimento.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Proteínas (g)</ion-label>
    <ion-input type="number" [(ngModel)]="nuevoAlimento.proteinas"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Carbohidratos (g)</ion-label>
    <ion-input type="number" [(ngModel)]="nuevoAlimento.carbohidratos"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Grasas (g)</ion-label>
    <ion-input type="number" [(ngModel)]="nuevoAlimento.grasas"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Calorías</ion-label>
    <ion-input type="number" [(ngModel)]="nuevoAlimento.calorias"></ion-input>
  </ion-item>
</ng-container>

<ion-item>
  <ion-label position="floating">Cantidad en gramos</ion-label>
  <ion-input type="number" [(ngModel)]="gramos"></ion-input>
</ion-item>

<ion-button expand="full" (click)="guardar()">Guardar</ion-button>
