<ion-card>
  <ion-card-header>
    <ion-card-title>Gestión de Alimento</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <!-- Toggle para crear nuevo alimento -->
    <ion-item>
      <ion-label>Crear nuevo alimento</ion-label>
      <ion-toggle [(ngModel)]="crearNuevo"></ion-toggle>
    </ion-item>

    <!-- Buscar y seleccionar alimento existente -->
    <ng-container *ngIf="!crearNuevo">
      <ion-item>
        <ion-label position="stacked">Seleccionar Alimento</ion-label>
      </ion-item>

      <ion-item>
        <ion-searchbar
          [(ngModel)]="terminoBusqueda"
          (ionInput)="buscarExternosYAgregar(terminoBusqueda)"
          placeholder="Buscar alimento (ej. avena, soya)"
          debounce="400"
          showCancelButton="focus"
          (ionCancel)="limpiarBusqueda()"
        ></ion-searchbar>
      </ion-item>

      <div *ngIf="alimentosFiltrados.length > 0 && terminoBusqueda"
        style="max-height: 300px; overflow-y: auto;">
        <ion-list>
          <ion-item
            *ngFor="let alimento of alimentosFiltrados"
            (click)="seleccionarAlimento(alimento)"
            button
            detail
          >
            <ion-label>
              <h3>{{ alimento.nombre }}</h3>
              <p>
                {{ alimento.calorias || 0 }} kcal,&nbsp;
                {{ alimento.proteinas || 0 }}g proteínas,&nbsp;
                {{ alimento.carbohidratos || 0 }}g carbohidratos,&nbsp;
                {{ alimento.grasas || 0 }}g grasas
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>

    </ng-container>

    <!-- Crear alimento nuevo manualmente -->
    <ng-container *ngIf="crearNuevo">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nuevoAlimento.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Proteínas (en 100g)</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="nuevoAlimento.proteinas"
          (ionInput)="calcularCalorias()"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Carbohidratos (en 100g)</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="nuevoAlimento.carbohidratos"
          (ionInput)="calcularCalorias()"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Grasas (en 100g)</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="nuevoAlimento.grasas"
          (ionInput)="calcularCalorias()"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Calorías</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoAlimento.calorias"></ion-input>
      </ion-item>
    </ng-container>

    <!-- Cantidad en gramos y botones -->
    <ion-item>
      <ion-label position="floating">Cantidad consumida (g)</ion-label>
      <ion-input type="number" [(ngModel)]="gramos"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="guardar()">Guardar</ion-button>
    <ion-button expand="block" color="light" (click)="cancelar()">Volver</ion-button>
  </ion-card-content>
</ion-card>
