<ion-header>
  <ion-toolbar>
    <ion-title>Eliminar Alimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Selecciona un alimento</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-select [(ngModel)]="alimentoSeleccionadoId" placeholder="Seleccionar alimento">
          <ion-select-option *ngFor="let alimento of alimentos" [value]="alimento.id">
            {{ alimento.nombre }} ({{ alimento.calorias }} kcal)
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="danger" (click)="eliminarAlimento()">
    Eliminar
  </ion-button>
</ion-content>
