<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime [(ngModel)]="fechaSeleccionada" presentation="date" size="cover"></ion-datetime>
  </ion-item>

  <h2>Resumen Diario</h2>
  <p>
    Total: {{ getCaloriasTotales(desayuno) + getCaloriasTotales(almuerzo) + getCaloriasTotales(cena) }} / {{ objetivoCalorias }} kcal
  </p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Desayuno</ion-card-title>
      <ion-button size="small" (click)="abrirBiblioteca(1)">+ Agregar</ion-button>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let a of desayuno">
        <p><strong>{{ a.descripcion }}</strong> - {{ a.calorias }} kcal</p>
        <ion-button size="small" fill="clear" (click)="editarAlimento(a)">✏️</ion-button>
        <ion-button size="small" fill="clear" color="danger" (click)="eliminarAlimento('desayuno', a)">🗑</ion-button>
      </div>
      <small>Macros: {{ getMacros(desayuno) | json }}</small>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Almuerzo</ion-card-title>
      <ion-button size="small" (click)="abrirBiblioteca(2)">+ Agregar</ion-button>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let a of almuerzo">
        <p><strong>{{ a.descripcion }}</strong> - {{ a.calorias }} kcal</p>
        <ion-button size="small" fill="clear" (click)="editarAlimento(a)">✏️</ion-button>
        <ion-button size="small" fill="clear" color="danger" (click)="eliminarAlimento('almuerzo', a)">🗑</ion-button>
      </div>
      <small>Macros: {{ getMacros(almuerzo) | json }}</small>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cena</ion-card-title>
      <ion-button size="small" (click)="abrirBiblioteca(3)">+ Agregar</ion-button>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let a of cena">
        <p><strong>{{ a.descripcion }}</strong> - {{ a.calorias }} kcal</p>
        <ion-button size="small" fill="clear" (click)="editarAlimento(a)">✏️</ion-button>
        <ion-button size="small" fill="clear" color="danger" (click)="eliminarAlimento('cena', a)">🗑</ion-button>
      </div>
      <small>Macros: {{ getMacros(cena) | json }}</small>
    </ion-card-content>
  </ion-card>

  <div *ngIf="alimentoEditando" class="modal-overlay">
    <div class="modal-content">
      <h3>Editar alimento</h3>
      <ion-input placeholder="Descripción" [(ngModel)]="alimentoEditando.descripcion"></ion-input>
      <ion-input placeholder="Calorías" type="number" [(ngModel)]="alimentoEditando.calorias"></ion-input>
      <ion-input placeholder="Proteínas" type="number" [(ngModel)]="alimentoEditando.proteinas"></ion-input>
      <ion-input placeholder="Grasas" type="number" [(ngModel)]="alimentoEditando.grasas"></ion-input>
      <ion-input placeholder="Carbohidratos" type="number" [(ngModel)]="alimentoEditando.carbohidratos"></ion-input>

      <ion-button (click)="guardarEdicion(comidaSeleccionada)">Guardar</ion-button>
      <ion-button fill="clear" color="danger" (click)="alimentoEditando = null">Cancelar</ion-button>
    </div>
  </div>

  <div *ngIf="showBiblioteca" class="modal-overlay">
    <div class="modal-content">
      <h3>Biblioteca de alimentos</h3>

      <ion-item>
        <ion-label>Seleccionar alimento</ion-label>
        <ion-select placeholder="Elegir de la base" [(ngModel)]="alimentoSeleccionado">
          <ion-select-option *ngFor="let alimento of biblioteca" [value]="alimento">
            {{ alimento.descripcion }} - {{ alimento.calorias }} kcal
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" (click)="agregarDailyFood()">Agregar seleccionado</ion-button>

      <!--  LISTA DE LA API (??)

      <ion-list>
        <ion-item *ngFor="let alimento of biblioteca" (click)="seleccionarAlimentoVisual(alimento)">
          <ion-label>{{ alimento.descripcion }} - {{ alimento.calorias }} kcal</ion-label>
        </ion-item>
      </ion-list>
-->

      <h4>Agregar nuevo alimento</h4>
      <ion-item>
        <ion-input
          label="Descripción"
          labelPlacement="stacked"
          [clearOnEdit]="true"
          placeholder="Nombre"
          [(ngModel)]="nuevoAlimento.descripcion"
        >
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input
          label="Proteínas"
          labelPlacement="stacked"
          [clearOnEdit]="true"
          type="number"
          placeholder="0"
          [(ngModel)]="nuevoAlimento.proteinas"
          (ionInput)="calcularCalorias()"
        >
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input
          label="Grasas"
          labelPlacement="stacked"
          [clearOnEdit]="true"
          type="number"
          placeholder="0"
          [(ngModel)]="nuevoAlimento.grasas"
          (ionInput)="calcularCalorias()"
        >
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input
          label="Carbohidratos"
          labelPlacement="stacked"
          [clearOnEdit]="true"
          type="number"
          placeholder="0"
          [(ngModel)]="nuevoAlimento.carbohidratos"
          (ionInput)="calcularCalorias()"
        >
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label
          labelPlacement="stacked"
        >
          Calorías: {{ nuevoAlimento.calorias }}
        </ion-label>
      </ion-item>

      <ion-button expand="block" color="success" (click)="agregarNuevoAlimento()">Agregar alimento nuevo</ion-button>
      <ion-button expand="block" fill="clear" color="danger" (click)="showBiblioteca = false">Cerrar</ion-button>
    </div>
  </div>

</ion-content>
 