ion-card {
    margin-bottom: 16px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  }
  
  ion-card-title {
    font-weight: bold;
  }
  
  ion-card-subtitle {
    color: #666;
  }
  
  ion-text {
    text-align: center;
    margin-top: 50px;
  }
  