<ion-header>
  <ion-toolbar>
    <ion-title>Add Foods (For 100g)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="agregarAlimento()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input [(ngModel)]="nuevoAlimento.nombre" name="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Calories</ion-label>
        <ion-input [(ngModel)]="nuevoAlimento.calorias" name="calorias" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Protein</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoAlimento.proteinas" name="proteinas" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Carbs</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoAlimento.carbohidratos" name="carbohidratos" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fat</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoAlimento.grasas" name="grasas" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit">Add</ion-button>
    </ion-list>
  </form>
</ion-content>
