<ion-content class="login-content" fullscreen>
  <ion-card class="login-card">
    <form (ngSubmit)="onSubmit()">
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-item lines="none">
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input [(ngModel)]="credentials.username" name="username" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="credentials.password" name="password" type="password" required></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="ion-margin-top">Iniciar sesión</ion-button>

        <!-- Label estilo enlace -->
        <div class="register-label" (click)="goToRegister()">
          ¿No tienes cuenta? <span>Regístrate</span>
        </div>

      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
