<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input [(ngModel)]="credentials.username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="credentials.password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">Iniciar sesión</ion-button>
  </form>

  <ion-button expand="full" fill="outline" class="ion-margin-top" (click)="goToRegister()">
    ¿No tienes cuenta? Regístrate
  </ion-button>

</ion-content>
