<ion-content class="ion-padding-bottom">
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" class="custom-segment-tabs">
      <ion-segment-button value="addExercise">
        <ion-icon name="add-circle-outline" size="large"></ion-icon>
        <ion-label>Agregar</ion-label>
      </ion-segment-button>
      <ion-segment-button value="updateExercise">
        <ion-icon name="create-outline" size="large"></ion-icon>
        <ion-label>Editar</ion-label>
      </ion-segment-button>
      <ion-segment-button value="deleteExercise">
        <ion-icon name="trash-outline" size="large"></ion-icon>
        <ion-label>Eliminar</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
